@import url(https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  text-transform: capitalize;
}

iframe {
  border-radius: 10px;
}

.header_top {
  background-color: lightblue;
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 1;
}

.header_top .header_top_logo {
  vertical-align: middle;
  width: 100px;
  height: 100%;
}

.header_top .list_item {
  transition: 0.4s;
}

.header_top .list_item:hover {
  transform: scale(1.05);
  color: crimson;
  cursor: pointer;
  opacity: 0.8;
}

.header_wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  height: 100%;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header_wrapper .list_item {
  padding: 10px;
  transition: 0.4s;
}

.header_wrapper .list_item:hover {
  transform: scale(1.05);
  color: crimson;
  cursor: pointer;
  opacity: 0.8;
}

.modal_contact_bg {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  visibility: hidden;
  transition: 1s;
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  justify-content: flex-end;
}

.modal_contact_bg .modal_contact_content {
  background-color: #84D2CB;
  font-family: "Major Mono Display", monospace;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 40%;
  width: 5%;
}

.modal_contact_bg .modal_contact_content a,
.modal_contact_bg .modal_contact_content .close_contact {
  transition: 0.3s;
  font-size: 25px;
}

.modal_contact_bg .modal_contact_content a:hover,
.modal_contact_bg .modal_contact_content .close_contact:hover {
  transform: scale(1.15);
  color: crimson;
  cursor: pointer;
  opacity: 0.8;
}

.modal_bio_bg {
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  visibility: hidden;
  transition: 1s;
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
}

.modal_bio_bg .modal_bio_content {
  background-color: lightblue;
  font-family: "Roboto", sans-serif;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  display: flex;
  padding: 10px 30px;
  line-height: 35px;
  height: 80%;
  width: 50%;
}

.modal_bio_bg .modal_bio_content h3 {
  font-family: "Major Mono Display", monospace;
}

.modal_bio_bg .modal_bio_content .close_bio {
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
  transition: 0.3s;
  font-size: 25px;
}

.modal_bio_bg .modal_bio_content .close_bio:hover {
  transform: scale(1.15);
  color: crimson;
  cursor: pointer;
  opacity: 0.8;
}

.modal_tour_bg {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  visibility: hidden;
  transition: 1s;
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
}

.modal_tour_bg .modal_tour_content {
  font-family: "Roboto", sans-serif;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  display: flex;
  position: relative;
  padding: 10px 30px;
  line-height: 35px;
  height: 80%;
  width: 70%;
  padding: 0;
  margin: 0;
}

.modal_tour_bg .modal_tour_content img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.modal_tour_bg .modal_tour_content .close_tour {
  transform: translate(-50%, -50%);
  font-family: "Major Mono Display", monospace;
  position: absolute;
  font-weight: bold;
  transition: 0.3s;
  font-size: 25px;
  bottom: 10px;
  left: 50%;
}

.modal_tour_bg .modal_tour_content .close_tour:hover {
  color: crimson;
  cursor: pointer;
  opacity: 0.8;
}

.bg_active {
  visibility: visible;
  opacity: 1;
}

.hamburgher {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .header_top {
    background-color: lightblue;
    font-family: "Major Mono Display", monospace;
    font-weight: bold;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
  }

  .right_info {
    display: none;
  }

  .hamburgher {
    position: relative;
    transition: 0.3;
    font-size: 15px;
    cursor: pointer;
    display: block;
  }

  .hamburgher .dropdown_list_item {
    transform: translate(-50%, -50%);
    font-family: "Major Mono Display", monospace;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    display: none;
    width: 110px;
    left: -400%;
    top: 500%;
  }

  .hamburgher:hover .dropdown_list_item {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header_top {
    background-color: lightblue;
    font-family: "Major Mono Display", monospace;
    font-weight: bold;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
  }

  .right_info {
    display: none;
  }

  .hamburgher {
    position: relative;
    transition: 0.3;
    font-size: 15px;
    cursor: pointer;
    display: block;
  }

  .hamburgher .dropdown_list_item {
    transform: translate(-50%, -50%);
    font-family: "Major Mono Display", monospace;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    display: none;
    width: 110px;
    left: -400%;
    top: 500%;
  }

  .hamburgher:hover .dropdown_list_item {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header_top {
    background-color: lightblue;
    font-family: "Major Mono Display", monospace;
    font-weight: bold;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1;
  }

  .hamburgher {
    display: none;
  }
}

.hero {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #111111;
}

.hero .logo {
  width: 30%;
  height: 30%;
  top: 20%;
  right: 10%;
  position: absolute;
}

.hero .hero_img {
  width: 80%;
  height: 100%;
  overflow: hidden;
  transform: translate(-20%);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .hero {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #111111;
  }

  .hero .logo {
    width: 30%;
    height: 30%;
    top: 30%;
    right: 10%;
    position: absolute;
  }

  .hero_img {
    width: 80%;
    height: 100%;
    overflow: hidden;
    margin-top: 50px;
    transform: translate(-20%);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hero {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #111111;
  }

  .hero .logo {
    width: 30%;
    height: 30%;
    top: 30%;
    right: 10%;
    position: absolute;
  }

  .hero_img {
    width: 80%;
    height: 100%;
    overflow: hidden;
    margin-top: 50px;
    transform: translate(-20%);
  }
}

.second_main_section {
  background-color: #2E8B57;
  width: 100%;
}

.second_main_section h1 {
  font-family: "Major Mono Display", monospace;
  text-align: center;
  padding-top: 50px;
}

.second_main_section .main_wrapper {
  margin: auto;
  height: 100%;
  width: 60%;
  padding-top: 40px;
  padding-bottom: 150px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.second_main_section .main_wrapper .music_item {
  margin: 20px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .second_main_section {
    background-color: #2E8B57;
    width: 100%;
  }

  .second_main_section h1 {
    font-family: "Major Mono Display", monospace;
    text-align: center;
    padding-top: 50px;
  }

  .second_main_section .main_wrapper {
    margin: auto;
    height: 100%;
    width: 60%;
    padding-top: 40px;
    padding-bottom: 150px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }

  .second_main_section .main_wrapper .music_item {
    margin: 20px;
  }

  .second_main_section .main_wrapper .music_item iframe {
    height: 150px;
    width: 300px;
  }
}

.footer {
  background-color: lightblue;
  overflow: hidden;
  position: fixed;
  height: 130px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer .footer_wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  height: 100%;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer .footer_wrapper small,
.footer .footer_wrapper h4 {
  font-family: "Major Mono Display", monospace;
  padding-left: 30px;
  font-weight: bold;
  font-size: 15px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .footer {
    background-color: lightblue;
    overflow: hidden;
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .footer .footer_wrapper {
    width: 100%;
    margin: auto;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .footer .footer_wrapper small,
  .footer .footer_wrapper h4 {
    font-family: "Major Mono Display", monospace;
    padding-left: 30px;
    font-weight: bold;
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    background-color: lightblue;
    overflow: hidden;
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .footer .footer_wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    height: 100%;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .footer .footer_wrapper small,
  .footer .footer_wrapper h4 {
    font-family: "Major Mono Display", monospace;
    padding-left: 30px;
    font-weight: bold;
    font-size: 10px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .footer {
    background-color: lightblue;
    overflow: hidden;
    position: fixed;
    height: 80px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .footer .footer_wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    height: 100%;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .footer .footer_wrapper small,
  .footer .footer_wrapper h4 {
    font-family: "Major Mono Display", monospace;
    padding-left: 30px;
    font-weight: bold;
    font-size: 12px;
  }
}

.first_main_section {
  background-color: #b3446c;
  width: 100%;
}

.first_main_section h1 {
  text-align: center;
  padding-top: 50px;
  font-family: "Major Mono Display", monospace;
}

.first_main_section .main_wrapper {
  margin: auto;
  height: 100%;
  width: 60%;
  padding: 90px 0px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.first_main_section .main_wrapper .mix_item {
  background-color: #000;
  border-radius: 5px;
  position: relative;
  margin: 20px 20px;
  transition: 0.3s;
  height: 300px;
  width: 300px;
}

.first_main_section .main_wrapper .mix_item .mix_item_info {
  transform: translate(-50%, -50%);
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  text-align: center;
  padding: 30px 0px;
  transition: 0.3s;
  font-size: 20px;
  display: flex;
  padding: 20px;
  color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 50%;
  top: 50%;
}

.first_main_section .main_wrapper .mix_item .mix_item_info h5,
.first_main_section .main_wrapper .mix_item .mix_item_info small,
.first_main_section .main_wrapper .mix_item .mix_item_info li {
  font-family: "Roboto", sans-serif;
}

.first_main_section .main_wrapper .mix_item .mix_item_info i {
  color: #fff;
}

.first_main_section .main_wrapper .mix_item .overlay_mix img {
  border-radius: 5px;
  transition: 0.3s;
  opacity: 1;
  width: 100%;
}

.first_main_section .main_wrapper .mix_item:hover .overlay_mix {
  transform: translate(1.15);
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.2;
}

.first_main_section .main_wrapper .mix_item:hover .mix_item_info {
  cursor: pointer;
  opacity: 1;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .first_main_section {
    background-color: #b3446c;
    width: 100%;
  }

  .first_main_section h1 {
    text-align: center;
    padding-top: 50px;
    font-family: "Major Mono Display", monospace;
  }

  .first_main_section .main_wrapper {
    margin: auto;
    height: 100%;
    width: 60%;
    padding: 90px 0px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }

  .first_main_section .main_wrapper .mix_item {
    background-color: none;
    border-radius: 5px;
    position: relative;
    margin: 20px 20px;
    transition: 0.3s;
    height: 100%;
    width: 100%;
  }
}

