// Common
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    display: inline;
}
a {
    text-decoration: none;
    color: #000;
}
main {
    text-transform: capitalize;
}
iframe {
    border-radius: 10px;
}
body {
    scroll-behavior: smooth;
}
