// Common
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: inline;
}

#landing_music {
    color: #000 !important;
}

a {
    text-decoration: none !important;
    color: #000;
}


iframe {
    border-radius: 10px;
}


html {
    text-transform: lowercase !important;
    scroll-behavior: smooth;
}

h3, h4 {
    text-transform: lowercase !important;
}

.absolute_close_modal {
    transform: translate(-50%, -50%);
    position: absolute;
}

.white {
    color: $white;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0px !important;
    width: 15% !important;
}

@media (max-width: 767px) {
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        width: 0% !important;
    }
}

// testing responsive 