// footer
.footer {
    background-color: lightblue;
    overflow: hidden;
    position: fixed;
    height: 130px;
    width: 100%;
    bottom: 0;
    left: 0;
    // footer wrapper
    .footer_wrapper {
        width: 100%;
        height: 100%;
        @include genericWrapper;
        @include genericFlex;
        small, h4, p {
            font-family: $firstFont;
            padding-left: 30px;
            font-weight: bold;
            line-height: 30px;
            font-size: 15px;
        } 
    }
}
// responsive 
// desktop 
@media screen and (min-width:992px) and (max-width: 1200px) {
    .footer {
        background-color: lightblue;
        overflow: hidden;
        position: fixed;
        height: 80px;
        width: 100%;
        bottom: 0;
        left: 0;
        .footer_wrapper {
            width: 100%;
            height: 100%;
            @include genericWrapper;
            @include genericFlex;
            small, h4, p {
                font-family: $firstFont;
                padding-left: 30px;
                font-weight: bold;
                line-height: 30px;
                font-size: 15px;
            } 
        }
    }
}
// tablet 
@media screen and (min-width:768px) and (max-width: 991px) {
    .footer {
        background-color: lightblue;
        overflow: hidden;
        position: fixed;
        height: 60px;
        width: 100%;
        bottom: 0;
        left: 0;
        .footer_wrapper {
            width: 100%;
            height: 100%;
            @include genericWrapper;
            @include genericFlex;
            small, h4, p {
                font-family: $firstFont;
                padding-left: 30px;
                font-weight: bold;
                line-height: 20px;
                font-size: 10px;
            } 
        }
    }
}
// mobile 
@media screen and (min-width: 0px) and (max-width:767px) {
    .footer {
        background-color: lightblue;
        overflow: hidden;
        position: fixed;
        padding: 30px;
        height: 150px;
        width: 100%;
        .footer_wrapper {
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            display: flex;
            height: 100%;
            margin: auto;
            width: 100%;
            small, h4, p {
                font-family: $firstFont;
                font-weight: bold;
                line-height: 15px;
                margin: 10px 0px;
                font-size: 10px;
            } 
        }
    }
}
