// header 
//header top
.header_top {
    font-family:$firstFont;
    font-weight: bold;
    width: 100%;
    height: 100px;
    background-color: lightblue;
    position: fixed;
    z-index: 1;
    //header top logo
    .header_top_logo {
        width: 100px;
        height: 100%;
        vertical-align: middle;
    }
    .list_item {
        transition: 0.4s;
        &:hover {
            @include colorHover;
        }
    }
}
// header wrapper
.header_wrapper {
    width: 100%;
    height: 100%;
    @include genericWrapper;
    @include genericFlex;
    // list item
    .list_item {
        padding: 10px;
        transition: 0.4s;
        &:hover {
            @include colorHover;
        }
    }
}

// modal contact
.modal_contact_bg {
   @include modalGeneric;
    justify-content: flex-end;
    // modal contact content
    .modal_contact_content {
        width: 5%;
        height: 40%;
        font-family: $firstFont;
        background-color: #84D2CB;
        @include modalContent;
        a, i {
            transition: 0.3s;
            font-size: 25px;
            &:hover {
                transform: scale(1.15);
                color: crimson;
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }
}
// modal bio
.modal_bio_bg {
    @include modalGeneric;
     justify-content: flex-start;
    // modal info content
    .modal_bio_content {
        width: 50%;
        height: 80%;
        padding: 10px 30px;
        line-height: 35px;
        background-color: lightblue;
        font-family: $secondFont;
        @include modalContent;
        i {
            transition: 0.3s;
            font-size: 25px;
            &:hover {
                transform: scale(1.15);
                color: crimson;
                opacity: 0.8;
                cursor: pointer;
            }
        } 
    }
}
// modal tour
.modal_tour_bg {
    @include modalGeneric;
     justify-content: center;
    // modal tour content
    .modal_tour_content {
        width: 70%;
        height: 80%;
        padding: 10px 30px;
        line-height: 35px;
        font-family: $secondFont;
        position: relative;
        padding: 0;
        margin: 0;
        @include modalContent;
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
        i {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s;
            font-size: 25px;
            &:hover {
                color: crimson;
                opacity: 0.8;
                cursor: pointer;
            }
        } 
    }
}
// adding class active for the modal bg
.bg_active {
    visibility: visible;
    opacity: 1;
}
// end header