//main
.second_main_section {
    background-color: #2F4F4F;
    width: 100%;
    h1 {
        font-family: $firstFont;
        text-align: center;
        padding-top: 50px;
    }
    .main_wrapper {
        @include genericWrapper;
        padding-top: 40px;
        padding-bottom: 150px;
        @include mainFlex;
        .music_item {
            margin: 20px;
        }
    }
}
// responsive 
// mobile 
@media screen and (min-width: 0px) and (max-width: 767px) {
    .second_main_section {
        background-color: #84D2CB;
        width: 100%;
        h1 {
            font-family: $firstFont;
            text-align: center;
            padding-top: 50px;
        }
        .main_wrapper {
            @include genericWrapper;
            padding-top: 40px;
            padding-bottom: 150px;
            @include mainFlex;
            .music_item {
                margin: 20px;
                iframe {
                    height: 150px;
                    width: 300px;
                }
            }
        }
    }
}
