// mixins
// header flex
@mixin genericFlex {
    justify-content: space-between;
    align-items: center;   
    display: flex;
}
// main flex 
@mixin mainFlex {
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    display: flex;
}
//header wrapper
@mixin genericWrapper {
    margin: auto;
    height: 100%;
    width: 60%;
}
// color hover
@mixin colorHover {
    transform: scale(1.05);
    color: crimson;
    cursor: pointer;
    opacity: 0.8;
}
// flex modal
@mixin modalFlex {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}
//modal generic
@mixin modalGeneric {
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    visibility: hidden;
    transition: 1.0s;
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}
//modal content 
@mixin modalContent {
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
    border-radius: 5px;
    display: flex;
}
// position absolute
@mixin positionAbsolute {
    position: absolute;
    right: 0;
    top: 0;
}
// flex Music content 
@mixin flexMusic {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
// flex Music content 
@mixin flexMix {
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
}