// hero
.hero {
    background-color: #111111;
    position: relative;
    height: 100%;
    width: 100%;
    .logo {
        position: absolute;
        height: 30%;
        right: 10%;
        top: 20%;
    }
    .hero_img {
        transform: translate(-20%);
        overflow: hidden;
        height: 100%;
        width: 80%;
    }
}
// responsive 
// tablet 
@media screen and (min-width: 768px) and (max-width:991px) {
    .hero {
        background-color: #111111;
        position: relative;
        height: 100%;
        width: 100%;
        .logo {
            object-fit: contain;
            position: absolute;
            height: 30%;
            right: 10%;
            top: 30%;
        }
        .hero_img {
            transform: translate(-20%);
            margin-top: 50px;
            overflow: hidden;
            height: 100%;
            width: 80%;
        }
    }
}
// mobile 
@media screen and (min-width: 0px) and (max-width:767px) {
    .hero {
        background-color: #111111;
        position: relative;
        height: 100%;
        width: 100%;
        .logo {
            object-fit: contain;
            position: absolute;
            height: 25%;
            right: 4%;
            width: 40%;
            top: 35%;
        }
        .hero_img {
            transform: translate(-20%);
            overflow: hidden;
            margin-top: 60px;
            height: 100%;
            width: 100%;
        }
    }
}
